*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
app/build/
app/*.apk
app/*.ap_
app/bin/
app/gen/
app/out/
app/.externalNativeBuild/
app/.cxx/
.gradle/
build/
libs/*.so
!libs/arm64-v8a/
!libs/armeabi-v7a/
